{template .parent}
    {call .child}
        {param first}Test{/param}
        {param second: false /}
        {param third: $foo.bar /}
    {/call}
    Test
{/template}

{template .child}
    {@param first: string}
    {@param second: bool}
    {@param third: bool}
{/template}