{template .parent visibility="private" kind="html" stricthtml="true"}
    {call .child}
        {param first}Test{/param}
        {param second: false /}
        {param third: $foo.bar /}
    {/call}
    Test
{/template}

{template .child kind="html" }
    {@param first: string}
    {@param second: bool}
    {@param third: bool}
{/template}